.job-application-form .container .company-logo {
    width: 150px;
    height: 150px;
}

.job-application-form .blue-text-color {
    color: #1363DF;
}

.job-application-form .red-text-color {
    color: #FF0000;
}

.job-application-form .grey-text-color {
    color: #808080;
}

.job-application-form .light-blue-btn {
    background-color: #47B5FF;
    color: #ffffff;
    width: 80%;
}



.modal-title-edit {
    margin-top: -28px;
}

.modal-title {
    color: #06283D;
}

.job-application-form .custom-input-fields {
    border: 1px solid #1363DF;
    height: 42px;
}

.job-application-form .required-icon {
    color: #FF0000;
    background-color: #ffffff;
}

.btn-success {
    background-color: #28A745 !important;
    border-color: #28A745;
}

.job-application-form .cancel {
    width: 140px;
}

.job-application-form .saveChanges {
    width: 140px;
}

@media (max-width: 767px) {
    .job-application-form .logo {
        display: flex;
        justify-content: center !important;
    }

    .job-application-form .company-logo {
        text-align: center !important;
    }
}

@media (max-width: 394px) {

    .job-application-form .saveChanges {
        width: 130px;
    }

    .job-application-form .cancel {
        width: 130px;
    }
}

@media (max-width: 374px) {

    .job-application-form .saveChanges {
        margin-bottom: 10px;
        margin-left: 14px;
    }

    .job-application-form .cancel {
        width: 130px;
    }
}

@media (max-width: 354px) {
    .job-application-form .container .company-logo {
        width: 120px !important;
        height: 120px !important;
    }

}