
.Image {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.company-name {
    margin-top: 40px;
    font-weight: bold;
    color: #1363DF;


}

.part-1 {
    display: flex;
}

.field-type {
    font-weight: bold;

}

.details {
    margin-left: 20px;
}

.generated-date {
    float: right;
    margin-top: 30px;
}


@media (max-width: 700px) {

    .Image {
        width: 150px;
        height: 150px;
    }

    .part-1 {
        display: block;
    }

    .generated-date {
        font-size: 12px;
    }
}

.generated-month {
    font-weight: bold;
    margin-top: 30px;
    color: #1363df;
    text-align: center;
    margin-bottom: 40px;
}

.job-applications-table-div {
    margin-top: 20px;
    overflow-x: auto;
}

.job-applications-table {
    width: 100%;
    margin-top: 60px;

}

.downloadReportBtn {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    height: 40px;
}

.downloadReportBtn:hover {
    background-color: #008d26;
    color: #ffffff;
    border: none;
}

.company-report .job-applications-table td {
    text-align: center;
    vertical-align: middle;
}

.company-report .job-applications-table th {
    text-align: center;
}

.company-report .site-logo {
    margin-top: 80px;
}

@media (max-width: 600px) {
    .company-report .downloadReportButton {
        font-size: 12px !important;
    }
}

@media (max-width: 475px) {
    .company-report .generated-date {
        display: none;
    }

    .company-report .col {
        width: 100%;
    }

}

@media (max-width: 300px) {
    .company-report .email {
        margin-left: -25px;
    }
}