.usermain .card {
    border: 1px solid #1363df;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 750px;

    margin: 50px auto auto;
}

.usermain .user-img {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 200px;
    width: 200px;
    object-fit: fill;
}

.usermain .details {
    margin-top: 80px;
}

@media (max-width: 768px) {
    .usermain .user-img {
        width: 200px;
        height: 200px;
    }

    .usermain .card {
        margin: 20px;
    }
}

@media (max-width: 548px) {
    .usermain .user-img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 470px) {
    .usermain .user-img {
        width: 150px;
        height: 150px;
    }
}
