.companyHeader .navbar {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-height: 50px;
    padding: 2px;
}

.companyHeader .nav-link {
    font-weight: bold;
    font-size: 18px;
    color: #1363DF;
}

.companyHeader .nav-link:hover {
    color: #47B5FF;
}

.companyHeader .navbar-toggler {
    border-color: #1363DF;
}


.companyHeader .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19,99,223)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.companyHeader .companyName {
    font-weight: bold;
    text-decoration: underline;
    color: #06283D;
    margin-top: 11px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 15px;
}

.companyHeader .companyName:hover {
    transform: scale(1.01);
}

.companyHeader .companyLogo {
    border-radius: 50%;
    border: 1px solid white;
    width: 45px;
    height: 45px;
    object-fit: fill;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 25px;
    margin-top: 2px;
    cursor: pointer;
}

.companyHeader .companyLogo:hover {
    transform: scale(1.02);
}

.companyHeader .logout {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 5px;
}

.companyHeader .logout:hover {
    transform: scale(1.04);
}

@media (max-width: 325px) {
    .companyHeader .companyName {
        font-size: 10px;
    }
}