.viewAllJobsCompany .searchBar {
    margin-top: 40px;
    max-width: 540px;
}

.viewAllJobsCompany .form-control {
    border: 1px solid #1363DF;
}

.viewAllJobsCompany .searchIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.viewAllJobsCompany .searchIcon:hover {
    transform: scale(1.05);
}

.viewAllJobsCompany ::placeholder {
    color: #ABB5BE;
}

.viewAllJobsCompany .p-viewer {
    float: right;
    margin-top: -32px;
    position: relative;
    margin-right: 15px;
    z-index: 1;
    cursor: pointer;
}

.viewAllJobsCompany .pageBody {
    margin-top: 50px;
}