.edit-marking-scheme {
    overflow: hidden;
}

.edit-marking-scheme .top-div {
    border-style: solid;
    border-color: #db7f38;
    height: 170px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.edit-marking-scheme .box {
    width: 130px;
    height: 130px;
    float: left;
    margin: 20px;
}

.edit-marking-scheme .profile-header-img {
    width: 100%;
    height: 100%;
}

.edit-marking-scheme .box {
    width: 110px;
    height: 110px;
}

.edit-marking-scheme .profile-header {
    float: left;
    width: calc(100% - 350px - 10px);
}

.edit-marking-scheme .profile-name {
    vertical-align: middle;
    margin-top: 40px;
    color: #2e2b70;
    font-weight: bold;
    font-size: 38px;
}

.edit-marking-scheme .inputFields {
    border: 1px solid #2e2b70;
}

.edit-marking-scheme .custom-select {
    border: 1px solid #2e2b70;
}

.edit-marking-scheme .sub-header {
    color: #db7f38;
}

.edit-marking-scheme .vl {
    border-left: 1px solid #c4c4c4;
    height: 500px;
}

.edit-marking-scheme .removeIcon {
    width: 45px;
}

.edit-marking-scheme .removeBtn {
    border: 0;
    background-color: white;
}

.edit-marking-scheme .removeBtn:hover {
    transform: scale(1.2);
}

.edit-marking-scheme .form-custom-btn {
    color: white;
    background-color: #2e2b70;
    margin-bottom: 4px;
}

.edit-marking-scheme .form-custom-btn:hover {
    background-color: #db7f38;
}

.edit-marking-scheme .save-custom-btn {
    float: right;
}

.edit-marking-scheme .table-container {
    border: 2px solid #db7f38;
    border-radius: 10px;
}

.edit-marking-scheme .table .custom-table-header {
    color: #2e2b70 !important;
}

.edit-marking-scheme .total-marks-txt {
    margin-top: -28px;
    margin-right: -5px;
}

@media screen and (max-width: 662px) {
    .edit-marking-scheme .top-div {
        height: 100px;
    }

    .edit-marking-scheme .box {
        width: 60px;
        height: 60px;
    }

    .edit-marking-scheme .profile-header {
        float: left;
        width: calc(100% - 250px - 10px);
    }

    .edit-marking-scheme .profile-name {
        vertical-align: middle;
        margin-top: 40px;
        color: #2e2b70;
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (max-width: 479px) {
    .edit-marking-scheme .top-div {
        height: 90px;
    }

    .edit-marking-scheme .box {
        width: 50px;
        height: 50px;
    }

    .edit-marking-scheme .profile-header {
        float: left;
        width: calc(100% - 110px - 10px);
    }

    .edit-marking-scheme .profile-name {
        vertical-align: middle;
        margin-top: 30px;
        color: #2e2b70;
        font-weight: bold;
        font-size: 20px;
    }
}


@media screen and (max-width: 450px) {
    .edit-marking-scheme .vl {
        border-left: 0;
    }

}
