.create-panel .close-btn {
    float: right;
}

.create-panel .modal-open-btn {
    background-color: #db7f38;
    color: #ffffff;
}

.create-panel .modal-open-btn:hover {
    background-color: #2e2b70;
}

.modal .next-btn {
    background-color: #db7f38;
    color: #ffffff;
}

.modal .footer-primary-btn {
    background-color: #2e2b70;
    color: #ffffff;
}

.modal .footer-primary-btn:hover {
    background-color: #db7f38;
}

.modal .next-btn:hover {
    background-color: #2e2b70;
}

.container .txt-blue {
    color: #2e2b70;
}

.container .txt-yellow {
    color: #db7f38;
}

.container .error-input-field {
    border-color: red;
}

.container .search-btn {
    background-color: transparent !important;
    border: 1px solid #2e2b70;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.container .icon:hover {
    transform: scale(1.2);
}

.container .search-field {
    border: 1px solid #2e2b70;
    border-right: none;
    border-radius: 10px;
}

.container .members-container {
    max-height: 500px;
    overflow: auto;
}

.container input {
    border-color: #2e2b70;
}


.modal .dropdown-custom {
    border: 1px solid #2e2b70;
}

.modal .footer-secondary-btn {
    color: #db7f38;
    position: absolute !important;
    left: 25px !important;
}

.modal .footer-secondary-btn:hover {
    color: #2e2b70;
}