.all-user-table {
    margin-left: 30px;
    margin-right: 30px;
}

.all-user-table .student-table-div {


    margin-top: 20px;
    overflow-x: auto;

}

.all-user-table .student-table {

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/*.all-user-table .student-table th {*/
/*    color: #2e2b70;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    align-content: center;*/
/*}*/

.all-user-table .student-table td {
    text-align: center;
    vertical-align: middle;
}

.all-user-table .student-table td .tableImg {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
}

.all-user-table .student-table td .tableEdit {
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
}

.all-user-table .student-table td .tableEdit:hover {
    transform: scale(1.1);
    align-content: center;
    text-align: center;
}

