.view-more-submissons .close-btn {
    float: right;
    font-size: 20px !important;
}

.view-more-submissions .modal-open-btn {
    background-color: #2e2b70;
    color: #ffffff;
}

.view-more-submissions .modal-open-btn:hover {
    background-color: #db7f38;
}

.modal .proposal-title {

    color: #2e2b70;
}

.modal .text-blue {
    color: #2e2b70;
    font-weight: bold;
}

.modal .text-gold {
    color: #db7f38;
    text-decoration: none;
    font-weight: normal;
}

.modal .view-scheme-btn {
    background-color: #2e2b70;
    color: #ffffff;
    font-weight: bold;
}

.modal .view-scheme-btn:hover {
    background-color: #db7f38;
}

@media screen and (max-width: 331px) {
    .modal .document-text {
        font-size: 18px;
    }
}
