.change-modal .card {
  max-width: 750px;
  margin: 50px auto auto;
}

.change-modal label {
  font-weight: bold;
  margin-left: 10px;
  color: #06283d;
}

.change-modal .input {
  padding-right: 90px;
  padding-left: 90px;
}

.change-modal input {
  border: 1px solid #1363df;
  height: 42px;
}

.change-modal .p-viewer {
  float: right;
  margin-top: -32px;
  position: relative;
  margin-right: 15px;
  z-index: 1;
  cursor: pointer;
}

.change-modal #eyeIcon {
  color: #1363df;
}

.change-modal .confirmButton {
  background-color: #28a745 !important;
  font-weight: bold;
  width: 200px;
  height: 45px;
  margin-top: 30px;
  margin-right: 22px;
}
.change-modal .confirmButton:hover {
  transform: scale(1.03);
}
.change-modal .cancelButton {
  background-color: #e15141 !important;
  font-weight: bold;
  width: 200px;
  height: 45px;
  margin-top: 30px;
}
.change-modal .cancelButton:hover {
  transform: scale(1.03);
}

/* .change-modal .confirmButton:hover {
    background-color: #06283d !important;
  } */

@media (max-width: 768px) {
  .change-modal .card {
    margin: 120px auto auto;
  }
}

@media (max-width: 520px) {
  .change-modal .input {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 463px) {
  .change-modal .confirmButton {
    width: 150px;
    font-size: 14px;
    /* margin-right: 0px; */
  }
  .change-modal .cancelButton {
    width: 150px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .change-modal .input {
    padding-right: 20px;
    padding-left: 20px;
  }
  .change-modal .confirmButton {
    /* margin-right: 1px; */
    width: 130px;
  }

  .change-modal .cancelButton {
    width: 130px;
  }
}
@media (max-width: 325px) {
  .change-modal .confirmButton {
    margin-left: 20px;
  }
}

@media (max-width: 300px) {
  .change-modal .input {
    padding-right: 10px;
    padding-left: 10px;
  }

  .change-modal .confirmButton {
    width: 140px;
  }
  .change-modal .cancelButton {
    width: 140px;
  }
}
@media (max-width: 300px) {
  .change-modal .input {
    padding-right: 10px;
    padding-left: 10px;
  }

  .change-modal .confirmButton {
    width: 140px;
  }
  .change-modal .cancelButton {
    width: 140px;
  }
}
